# Java / Maven
target/
*.class

# Node
node_modules/
foodbridge-frontend/node_modules/
foodbridge-frontend/dist/

# IDE
.vscode/
.idea/

# Env/secrets
.env
application-secrets.properties
vapid.json

src/main/resources/application.properties
src/main/resources/application-local.properties

backend-log.txt
